@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap");
* {
  margin: 0%;
  padding: 0%; }

/*texto principal*/
.video {
  text-align: center;
  height: 230px;
  margin-top: 10px;
  margin-bottom: -12px; }

.grid-iten-main {
  display: flex; }

.sobrenos__lista {
  display: flex;
  flex-direction: column;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 275;
  font-size: 20px;
  margin: 30px; }

.lista__1 {
  text-align: center;
  margin-bottom: 10px; }

.lista__2 {
  text-align: center;
  margin-bottom: 10px; }

.lista__3 {
  text-align: center;
  margin-bottom: 10px; }

/*button*/
.grid-item-main {
  text-align: center; }

button {
  border: 0.5px solid;
  border-radius: 3.5px;
  text-decoration: none;
  background-color: #D9D9D9;
  font-size: 15px;
  padding: 15px;
  margin-bottom: 10px; }

/*bottom*/
.grid-item-bottom {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 30px; }

.sobrenos__article {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 275;
  background: rgba(242, 225, 195, 0.8) 217, 217, 217, 0.75;
  box-shadow: 7px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  width: 195px;
  height: 197px;
  left: 64px;
  top: 1197px; }

.sobrenos__article__title {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  left: 64px; }

.card-img-top {
  width: 50px;
  margin: auto; }

@media screen and (max-width: 480px) {
  .video {
    width: 100%; }
  button {
    font-size: 80%; }
  .card-text {
    overflow-wrap: normal; } }

.e-main .card-body {
  background-color: rgba(242, 225, 195, 0.8);
  width: 100%; }
  .e-main .card-body .card-title {
    color: #58391d; }

.e-main .card-container .card-image {
  width: 100%; }

.e-main .card-container--reverse .card-image {
  width: 100%; }

@media screen and (min-width: 992px) {
  .e-main .card {
    margin-top: 35px;
    margin-bottom: 35px;
    width: fit-content;
    background-color: #F2F2F2;
    border: none; }
    .e-main .card .card-image {
      width: 600px; }
    .e-main .card .card-body {
      left: 564px;
      top: 70px;
      border-radius: 3.5px;
      position: absolute;
      padding: 40px;
      background-color: rgba(242, 225, 195, 0.8);
      width: 600px;
      height: fit-content;
      font-weight: 400;
      font-size: 30px; }
    .e-main .card .card-body--reverse {
      left: 173px;
      top: 70px;
      border-radius: 3.5px;
      position: absolute;
      padding: 40px;
      background-color: rgba(242, 225, 195, 0.8);
      width: 600px;
      height: fit-content;
      font-weight: 400;
      font-size: 30px; }
    .e-main .card .card-container {
      position: relative;
      margin-right: 610px;
      background-color: #F2F2F2; }
    .e-main .card .card-container--reverse {
      display: relative;
      margin-left: 735px;
      background-color: #F2F2F2; }
    .e-main .card .card-image:hover {
      transform: rotate(4deg);
      transition-duration: 2s; } }

/*contato*/
.c-main {
  background-image: url(../images/contato/casal_de_noivos.svg);
  height: 688px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #FFFFFF;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center; }
  .c-main__card {
    background: rgba(61, 58, 58, 0.7);
    font-size: 23px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 30px;
    width: 90%; }
    .c-main__card ::placeholder {
      color: #8c8c8c; }
    .c-main__card__title {
      color: #FFFFFF;
      font-weight: 400;
      font-size: 30px;
      background-color: #404040;
      padding: 10px 40px;
      margin-bottom: 40px;
      grid-area: titulo; }
  .c-main__form {
    background: rgba(61, 58, 58, 0.7);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 23px;
    padding: 30px;
    margin-right: 20px;
    display: grid;
    grid-gap: 15px;
    grid-template-areas: "titulo titulo" "nome nome" "sobrenome sobrenome" "email email" "telefone tipo_evento" "data quantidade" "recado recado" "botao botao"; }
    .c-main__form__title {
      color: #FFFFFF;
      font-size: 30px;
      font-weight: 400;
      background-color: #404040;
      padding: 10px 40px;
      margin-bottom: 40px;
      grid-area: titulo; }
    .c-main__form input, .c-main__form textarea, .c-main__form select {
      background-color: #D9D9D9;
      border: 1px solid #b6b6b6;
      box-shadow: -1px 5px 4px rgba(0, 0, 0, 0.25);
      font-size: 14px; }
    .c-main__form textarea {
      width: 100%;
      height: 80px;
      grid-area: recado; }
    .c-main__form .nome {
      grid-area: nome; }
    .c-main__form .sobrenome {
      grid-area: sobrenome; }
    .c-main__form .email {
      grid-area: email; }
    .c-main__form .telefone {
      grid-area: telefone; }
    .c-main__form .tipo_evento {
      grid-area: tipo_evento; }
    .c-main__form .data {
      grid-area: data; }
    .c-main__form .quantidade {
      grid-area: quantidade; }
    .c-main__form .botao {
      grid-area: botao; }

@media screen and (max-width: 768px) {
  .c-main {
    display: flex;
    flex-direction: column;
    background-image: none;
    height: auto;
    margin: auto;
    width: 100%; }
    .c-main__card {
      margin: 15px 0 30px 0;
      width: 60%;
      font-size: 14px; }
      .c-main__card__title {
        font-size: 23px; }
    .c-main__form {
      display: flex;
      flex-direction: column;
      margin: auto;
      width: 60%;
      font-size: 23px; }
      .c-main__form__title {
        font-size: 23px; } }

@media screen and (max-width: 576px) {
  .c-main__card {
    width: 100%; }
  .c-main__form {
    width: 100%; }
    .c-main__form textarea {
      height: 120px; } }

.card {
  background-color: #F2F2F2; }

.card-title {
  color: #58391d; }

.card-body {
  background-image: url(../images/home/home_image.svg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 800px; }

.card-text {
  min-height: 204px; }

.card-text--small {
  font-size: 70%; }

.card-text--big {
  font-size: 120%;
  font-weight: 400; }

@media screen and (min-width: 576px) {
  @keyframes small_words {
    from {
      font-size: 30px; }
    to {
      font-size: 20px; } }
  @keyframes big_words {
    from {
      font-size: 30px; }
    to {
      font-size: 45px; } }
  .card-text--small {
    animation-name: small_words;
    animation-duration: 3s;
    animation-fill-mode: forwards; }
  .card-text--big {
    animation-name: big_words;
    animation-duration: 3s;
    animation-fill-mode: forwards; } }

@media screen and (min-width: 768px) {
  .card-body {
    background-image: none; }
  .card-image {
    width: 50%; }
  .card-body {
    min-height: fit-content; } }

@media screen and (min-width: 992px) {
  .card-body {
    min-height: auto; } }

body {
  font-family: Poppins;
  background-color: #F2F2F2; }
  body .btn {
    border: 0.5px solid #b6b6b6;
    background-color: #D9D9D9;
    letter-spacing: 0.18em; }
  body .nav-item :hover {
    background-color: rgba(242, 225, 195, 0.8); }
  body footer {
    background-color: #D9D9D9;
    width: 100%;
    font-size: 14px;
    border-top: 1px solid #2C2C2C; }
  @media screen and (min-width: 992px) {
    body .nav-link--border {
      border: #404040 1px solid;
      border-radius: 3.5px; } }
