$bg-light: #F2F2F2;
$bg-medium: #D9D9D9;
$bg-dark: #404040;
$bg-card: rgba(242, 225, 195, 0.8);
$bg-card-dark: rgba(61, 58, 58, 0.7);
$border: #b6b6b6;
$font-dark: #2C2C2C;
$font-light: #FFFFFF;
$font-title: #58391d;
$placeholder: #8c8c8c;
$shadow: rgba(0, 0, 0, 0.25);